@charset "utf-8";
/*************************/
/* GMKT mWeb 에서 사용되는 common.css 입니다.
 * reset / webfont 포함 됩니다.
 * 수정할 경우 UXE 팀의 검수를 받아야합니다.
/**********************/

/*  mobile RESET */
*{margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
body{-webkit-text-size-adjust:none}
ul,ol{list-style:none}
button{-webkit-border-radius:0;border-radius:0;border:0;background-color:transparent;cursor:pointer}
a,a:hover,a:active,a:focus{text-decoration:none}
em,address{font-style:normal}
table{border-collapse:collapse;border-spacing:0}
iframe,fieldset,img{border:0}
textarea{resize:none}
input[type="button"],input[type="email"],input[type=number],input[type="password"],input[type="reset"],input[type="search"],input[type="submit"],input[type="tel"],input[type="text"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
img{vertical-align:top}
hr{display:none}

/* font rule */
body,table,input,textarea,select,button,th,td,p,dl,dt,dd,li,pre,div,ul,ol,h1,h2,h3,h4,h5,h6,form,fieldset,blockquote,legend{
    font-size:16px;
    line-height: 1.25em;
    font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Roboto, Noto Sans CJK KR, Tahoma, 'Noto Sans KR', sans-serif;
}

/* Global Common */
/* .for-a11y{ position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;border: 0;clip: rect(0 0 0 0);overflow: hidden;text-indent: -5000em;} */

/*Global skip navigation*/
#skip-navigation a{position: absolute;left: 0;top: -100px;z-index: 1020;display: block;padding: 9px 0;width: 100%;background: #1179ea;font-size: 0;line-height: 0;color: #fff;text-align: center;text-decoration: none;}
#skip-navigation a:active,
#skip-navigation a:focus {top: 0;font-size: 13px;font-weight: bold;line-height: 1.5;opacity: .7;}
#skip-navigation__content{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0)}

/* sprite */
.sprite__header,
.sprite__header--before:before,
.sprite__header--after:after{background-image:url(//jmockupdev.gmarket.co.kr/mobile/images/sprite/kr/common/sprite__header.png) !important;background-size:300px auto !important}
.sprite__header--before:before,
.sprite__header--after:after{content:"";display:inline-block}

/* layout */
#wrapper{width:100%}
#header{width:100%}
#container{width:100%}
#footer{width:100%}
#content{position:relative}
#contents{position:relative}